<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918717064633-gqhoald19tb66u7mi9837125l98u0g1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918717064633-gqhoald19tb66u7mi9837125l98u0g1j</string>
	<key>API_KEY</key>
	<string>AIzaSyBd5ZfOePiQE66iz2pft9suzPFweYfJQH0</string>
	<key>GCM_SENDER_ID</key>
	<string>918717064633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mydiary</string>
	<key>PROJECT_ID</key>
	<string>mydiary-d23dd</string>
	<key>STORAGE_BUCKET</key>
	<string>mydiary-d23dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918717064633:ios:7593abbca468793b324268</string>
</dict>
</plist>